.contact {
  background-image: url(../../assets/images/home/sec-7/frame.png);
  background-position-x: left;
  background-size: 40%;
  background-repeat: no-repeat;
}

.inp {
  border: 1px solid #cedcff;
  border-radius: 22px;
  background-color: #cedcff;
  min-width: 200px;
  height: 48px;
  margin-bottom: 14px;
  padding: 20px 30px;
}
.inp:focus-visible {
  outline: none;
}
.inp::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #000;

}
.contactTxt{
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: #3e3e3e;

}
.contactbtn {
  background: #1572D3;
  width: 159px;
  height: 48px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.contactTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  color: #282828;
  width: 80%;
}

.mobileImg {
  max-width: 80%;
  max-height: 80%;
}


@media only screen and (max-width: 768px) {
.contactTitle {
  font-size: 26px;
  line-height: 38px;
  width: 100%;
}
.mobileImg {
  display: none;
}
}