.popularText {
  background: #1572D31A;
  padding: 16px 32px;
  border-radius: 8px;
  color: #1572D3;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

}

.carsTitle {
  font-size: 38px;
  font-weight: 500;
  line-height: 49.4px;
  color: #333;

}

.cardSec {
  max-width: 250px;
}

h5 {
  padding: 20px 0 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}

p {

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #6D6D6D;

}

@media only screen and (max-width: 768px) {
  .popularText {
    padding: 10px 30px;
  }
  .carsTitle {
    font-size: 26px;
    line-height: 32px;}
}